PORT_WEB=8080
#Descomentar solo en prod
#COMPOSE_FILE=docker-compose.yml:docker-compose.prod.yml

# =====================
# CONFIGURACIÓN DE BBDD
# =====================
DB_ROOT_PASSWORD=cambia_esta_clave
DB_NAME=cronometro_db

# ==========================================
# CONFIGURACIÓN DE CORREO (BREVO SMTP)
# ==========================================
MAIL_HOST=smtp_host
MAIL_PORT=smtp_port
MAIL_USERNAME=smtp_username
MAIL_PASSWORD=smtp_password
MAIL_FROM=support@dtimerapp.com