#config-btn {
	position: fixed;
	top: 0.5vh;
	right: 0.5vw;
	width: 3vh;
	min-width: 20px;
	padding: 0.5vh;
	border-radius: 10%;
	box-sizing: content-box;
}

#config-btn:hover {
	background-color: #4A6572;
}

#config-container {
	position: fixed;
	top: 5vh;
	right: 0.5vw;
	width: 230px;
	background-color: #4A6572;
	border-radius: 12px;
}


#config-menu {
    list-style: none;
    width: 100%;
    padding: 0px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: normal;
}

.list-item {
  	color: white;
  	text-align: left;
  	padding-left: 10px;
  	padding: 5px 10px;
  	display: flex;
	flex-direction: row;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.list-item:hover {
  background-color: #3F545E;
  cursor: pointer;
}

#config-menu hr {
	overflow: hidden;
    border-style: inset;
    border-width: 1px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.config-icon {
	width: 18px;
	margin-right: 10px;
}

.list-item-disabled {
  	text-align: left;
  	padding-left: 10px;
  	padding: 5px 10px;
  	display: flex;
	flex-direction: row;
	color: #999;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.list-item-disabled:hover {
	background-color: #4A6572;
	cursor: default;
}