body {
	background-color: #2c3e50;
	font-family: 'Helvetica Neue', sans-serif;
	color: #ecf0f1;
	margin: 0px;
	line-height: normal;
}

.cronometro-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

#cronometro {
	font-family: Lucida Console, monospace;
	margin: 0;
	width: 100%;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

p, td, th {
	cursor: default;
}

button:focus {
	outline: none;
	-webkit-tap-highlight-color: transparent;
	box-shadow: none;
}

#estadisticas_container_mobile {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
    padding-inline: 5px;
}

#estadisticas_container_mobile dl {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.7rem;
}

#estadisticas_container_mobile dt {
  font-weight: normal;
  margin-right: 5px;
  flex-shrink: 0;
}

#estadisticas_container_mobile dd {
    margin-bottom: 5px;
}

/* Extra small devices (phones, less than 576px)  */
@media (max-width: 575.98px) {
    #cronometro {
        font-size: 3rem;
    }
}

/* Small devices (landscape phones, 576px and up)  */
@media (min-width: 576px) and (max-width: 767.98px) {
	#cronometro {
		font-size: 4rem;
	}
}

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) and (max-width: 991.98px) {
	#cronometro {
		font-size: 5rem;
	}
}

/* Large devices (desktops, 992px and up)  */
@media (min-width: 992px) and (max-width: 1199.98px) {
	#cronometro {
		font-size: 7rem;  /* Or adjust if needed  */
	}

	.cronometro-container {
        margin-left: 24vh;
    }
}

/* Extra large devices (large desktops, 1200px and up)  */
@media (min-width: 1200px) {
	/* Default styles (same as original)  */
	#cronometro {
		font-size: 9rem;
	}

	.cronometro-container {
    	margin-left: 24vh;
    }
}