## Encabezado Velocity
#set($resetLink = "Restablecimiento de Contrase&ntilde;a")

## Definir el contenido HTML de la plantilla
#set($htmlContent = '
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Restablecimiento de Contrase&ntilde;a</title>
    <style>
        /* Estilos CSS para el correo */
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        .container {
            max-width: 600px;
            margin: 20px auto; /* Margen arriba y abajo */
            padding: 20px;
            background-color: #ffffff;
            border-radius: 10px;
        }

        h1 {
            color: #0073e6; /* Color azul */
            font-size: 28px;
        }

        p {
            font-size: 18px;
            color: #333;
            margin-bottom: 15px;
        }

        a {
            color: #4CAF50; /* Color verde */
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .btn {
            display: inline-block;
            background-color: #4CAF50; /* Color verde */
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            margin-top: 20px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Restablecimiento de Contrase&ntilde;a</h1>
        <p>Haz clic en el siguiente enlace para restablecer tu contrase&ntilde;a:</p>
        <p><a href="$resetLink" class="btn">Restablecer Contrase&ntilde;a</a></p>
        <p>$resetLink</p>
    </div>
</body>
</html>
')

## Imprimir el contenido HTML
$htmlContent