<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <icon>
    <small-icon>src/main/resources/favicon.ico</small-icon>
    <large-icon>src/main/resources/favicon.ico</large-icon>
  </icon>

  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>controller.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>Session</servlet-name>
    <servlet-class>restController.SessionController</servlet-class>
    <multipart-config>
      <max-file-size>20848820</max-file-size>
      <max-request-size>418018841</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session</servlet-name>
    <url-pattern>/session/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Solve</servlet-name>
    <servlet-class>restController.SolveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Solve</servlet-name>
    <url-pattern>/solve/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Cube</servlet-name>
    <servlet-class>restController.CubeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cube</servlet-name>
    <url-pattern>/cube/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>User</servlet-name>
    <servlet-class>controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/user/*</url-pattern>
  </servlet-mapping>

  <display-name>Archetype Created Web Application</display-name>

</web-app>
