<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
 
<web-app>
  <icon>
  	<small-icon>src/main/resources/favicon.ico</small-icon>
	<large-icon>src/main/resources/favicon.ico</large-icon>
  </icon>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>AuthenticationFilter</filter-name>
  	<display-name>AuthenticationFilter</display-name>
  	<description></description>
  	<filter-class>controller.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>AuthenticationFilter</filter-name>
  	<url-pattern>/index.jsp</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>GuardaTiempoServlet</servlet-name>
  	<display-name>GuardaTiempoServlet</display-name>
  	<description></description>
  	<servlet-class>controller.GuardaTiempoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistroServlet</servlet-name>
  	<display-name>RegistroServlet</display-name>
  	<description></description>
  	<servlet-class>controller.RegistroServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GenerarScrambleServlet</servlet-name>
  	<display-name>GenerarScrambleServlet</display-name>
  	<description></description>
  	<servlet-class>controller.GenerarScrambleServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetEstadisticasServlet</servlet-name>
  	<display-name>GetEstadisticasServlet</display-name>
  	<description></description>
  	<servlet-class>controller.GetEstadisticasServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetTiemposServlet</servlet-name>
  	<display-name>GetTiemposServlet</display-name>
  	<description></description>
  	<servlet-class>controller.GetTiemposServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetSesionesServlet</servlet-name>
  	<display-name>GetSesionesServlet</display-name>
  	<description></description>
  	<servlet-class>controller.GetSesionesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CrearSesionServlet</servlet-name>
  	<display-name>CrearSesionServlet</display-name>
  	<description></description>
  	<servlet-class>controller.CrearSesionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BorrarSesionServlet</servlet-name>
  	<display-name>BorrarSesionServlet</display-name>
  	<description></description>
  	<servlet-class>controller.BorrarSesionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GuardaTiempoServlet</servlet-name>
  	<url-pattern>/GuardaTiempoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistroServlet</servlet-name>
  	<url-pattern>/RegistroServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GenerarScrambleServlet</servlet-name>
  	<url-pattern>/GenerarScrambleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetEstadisticasServlet</servlet-name>
  	<url-pattern>/GetEstadisticasServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetTiemposServlet</servlet-name>
  	<url-pattern>/GetTiemposServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetSesionesServlet</servlet-name>
  	<url-pattern>/GetSesionesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CrearSesionServlet</servlet-name>
  	<url-pattern>/CrearSesionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BorrarSesionServlet</servlet-name>
  	<url-pattern>/BorrarSesionServlet</url-pattern>
  </servlet-mapping>
</web-app>
